body {
  font-family: Arial, sans-serif;
  background-color: #f9f6f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1,
h2 {
  text-align: center;
  color: #8d735f;
  margin-bottom: 20px;
}

.search-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-section input,
.search-section select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-section button {
  padding: 10px 20px;
  background-color: #8d735f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.search-section button:hover {
  background-color: #7a6351;
}

.export-button {
  background-color: #d3c0b3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.export-button:hover {
  background-color: #b5a49a;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #8d735f;
  color: white;
}

table td {
  background-color: #fff;
}

.detail-button {
  background-color: #d3c0b3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.detail-button:hover {
  background-color: #b5a49a;
}

svg.w-5.h-5 {
  /*paginateメソッドの矢印の大きさ調整のために追加*/
  width: 30px;
  height: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 10px;
  margin: 0 5px;
  background-color: #fff;
  color: #8d735f;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0e6de;
}